<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ConnectionString" value="Data Source=g-laptop;Initial Catalog=NBuilderWebsite;User Id=sds;Password=sds;" />
    </appSettings>

    <system.net>
        <mailSettings>
            <smtp from="website@nbuilder.org">
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>

</configuration>