<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="activerecord"
               type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
  </configSections>

  <connectionStrings>
    <add name="Default" connectionString="Data Source=localhost;Initial Catalog=NBuilderTests;Integrated Security=SSPI" />
  </connectionStrings>
  
  <activerecord
          isWeb="false"
          isDebug="true"
          pluralizeTableNames="false">

    <config>
      <add key="connection.driver_class"           value="NHibernate.Driver.SqlClientDriver" />
      <add key="dialect"                           value="NHibernate.Dialect.MsSql2005Dialect" />
      <add key="connection.provider"               value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string_name" value="Default" />
    </config>

  </activerecord>

</configuration>