@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roadmap</h2>
    
<p>Here are some of the features planned for NBuilder.</p>
    
@*<p>You can vote on which features you'd like to have the most</p>*@
    
<h3>WhereRandom() improvements</h3>
    
<p>You will be able to specify a declaration within a random declaration. The syntax will be something like:</p>
    
<img src="../../Content/images/roadmap/whererandomsubdecl.gif" />
    
<h3>Setting default constructor args</h3>
    
<p>You will be able to set constructor args you don't care about using filler arguments.</p>
    
<img src="../../Content/images/roadmap/fillerargs.gif" />
    
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
