body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; 
	padding: 0;
	text-align: center;
	color: #000000;
	background-image: url(../images/bg.png);
	background-repeat: repeat;
	font-size: 12px;
}

imb
{
    border: none;
}

.oneColFixCtr #container {
	width: 838px;
	background: #fff;
	margin: 10px auto;
	border: 1px solid #000000;
	text-align: left;
}
.oneColFixCtr #mainContent {
	padding: 0 0px;
}
body,td,th {
}

li
{
    margin: 5px 0;
}

#header
{
    margin: 10px 20px;
	padding-top: 10px;
}

h1, h2, h3
{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

#menu
{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	height: 34px;
	background: url(../images/menu-bg.gif) repeat-x;
}

#menu a, #menu ul li
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

#menu a:hover
{
	text-decoration: underline;
}

#menu ul
{
	list-style-type: none;
	margin: 0;
	padding: 8px 0 0 0;
}

#menu ul li
{
	float: left;
	padding: 0 27px 0 0;
	margin: 0;
}

#menu ul li.first
{
 	padding-left: 27px;	
}

#content
{
	padding: 10px 20px;
	clear: left;
}

.example
{
	background-color: #f4f4f4;
	padding: 10px;
	margin: 5px 0 20px 0;
	border: 1px solid #ccc;
}

h2
{
    color: #C6330B;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h3
{
	font-size: 17px;
	color: #003296;
	font-weight: normal;
	margin: 10px 0 5px 0;
	padding: 0;
}

p
{
	margin: 10px 0;	
	line-height: 150%;
}

.download
{
    font-size: 25px;
    vertical-align: middle;
    text-decoration: none;
}

.download img
{
    vertical-align: middle;
    margin-bottom: 4px;
}

.form-item
{
    margin: 10px 0;
}

.form-item label
{
    color: #001B53;
    font-weight: bold;
    margin-bottom: 2px;
}

.form-item input
{
    width: 300px;
    font-family: Verdana, Arial;
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 5px;
}

.form-item textarea
{
    width: 600px;
    height: 300px;
    font-family: Verdana, Arial;
    font-size: 12px;
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
}

.field-validation-error
{
    margin-top: 2px;
    padding: 5px;
    background-color: #C6330B;
    color: #fff;
    font-size: 11px;
    display: block;
    width: 250px;
}

.form-item .input-validation-error
{
    background-color: #FDDED5;
    border: 1px solid #C6330B;
}

.code
{
    background-color: #000;
    margin: 10px 0;
}

.twitter
{
    padding: 0;
    margin-top: 20px;
}

.button 
{
    padding: 10px;
    width: 70px;
}