<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Activerecord" version="3.0.0.1" targetFramework="net40" />
  <package id="Castle.Components.Validator" version="2.5.0" targetFramework="net40" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net40" />
  <package id="log4net" version="2.0.5" targetFramework="net40" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net40" />
</packages>