@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Download</h2>
    
    <h3>Download the latest release from google code</h3>
    
    <a class="download" href="http://code.google.com/p/nbuilder/downloads/list"><img src="../../Content/images/download.gif" border="0" /> Download it now</a>
   