@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Feature requests &amp; bugs</h2>
    
<p>Please report bugs and request features / make suggestions using the <a href="http://code.google.com/p/nbuilder/issues/list">google code issue tracker</a></p>
    
<p>Any communication regarding NBuilder is welcome, however minor the problem or request.</p>
    
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>