<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="NBuilder : Rapid generation of test objects in .NET" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
	
	<link href="stylesheets/shCore.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/shCoreEmacs.css" rel="stylesheet" type="text/css" />

    <script src="scripts/shCore.js"></script>
    <script src="scripts/shBrushCSharp.js"></script>

	<style>
        .code-highlight
        {
            padding-top: 10px;
            padding-bottom: 10px;
        }

    </style>

    <script>
        SyntaxHighlighter.brushes.Csharp.prototype
    </script>


    <title>Nbuilder</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/garethdown44/nbuilder">View on GitHub</a>

          <h1 id="project_title"><a href="/">NBuilder</a></h1>
          <h2 id="project_tagline">Rapid generation of test objects in .NET</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/garethdown44/nbuilder/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/garethdown44/nbuilder/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{content}}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Nbuilder maintained by <a href="https://github.com/garethdown44">garethdown44</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
