@{
    ViewBag.Title = "FluentDates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Fluent Dates</h2>
    
<p>In keeping with NBuilder's philosphy of the readable, fluent interface, it also allows you to specify dates using a nice syntax.</p>
    
<h3>Examples</h3>
    
<p>There's no point going into detail about each one, so here's an idea of how to use it. The only thing to mention is that if you don't specify the year
explicitly then it will use whatever the current year is.</p>

<pre class="brush: csharp">
The.Year(2006).On.May.The10th.At(09, 00);

On.July.The21st.At(07, 00);

var aug11 = August.The11th;

July.The(1);

November.The(10);

The.Year(2008).On.January.The10th.At(05, 49, 38);

var created = On.May.The14th;

Today.At(09, 00);

// (These generate TimeSpans)
The.Time(08, 31);
At.Time(09, 46);
</pre>
    
<h3>Using fluent dates and generators</h3>
    
<p>Needless to say you can also use the dates when building objects. Here's an example of using the list builder and a generator.</p>    

<pre class="brush: csharp">
var generator = new RandomGenerator();

var products = Builder&lt;Product&gt;
    .CreateListOfSize(100)
    .All()
        .With(x => x.Created = generator.Next(July.The(1), November.The(10)))
    .Build();
</pre>