@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Documentation</h2>
    
<h3>Table of contents</h3>
    
<ul>
    <li><a href="/Documentation/SingleObjects">Building single objects</a></li>
    <li><a href="/Documentation/Lists">Building lists</a></li>
    <li><a href="/Documentation/Persistence">Persistence</a></li>
    <li><a href="/Documentation/FluentDates">Fluent Dates</a></li>
    <li><a href="/Documentation/Hierarchies">Building hierarchies</a></li>
    <li><a href="/Documentation/Configuration">Configuration using the BuilderSetup class</a></li>
</ul>
    
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>